@import url(/components/buttons.css);
@import url(/main.css);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind:wght@300&family=Open+Sans:wght@300&family=Raleway:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,200&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.brand {
  height: 15vh;
  background-color: hotpink;
  align-items: center;
  display: flex;
  background-color: white;
  color: var(--primary-color);
  box-shadow: 1px 1px 1px 1px #dddddd;
  justify-content: space-between;
}

.brand-name {
  color: var(--primary-color);
  font-size: 3rem;
  padding: 0 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 800;
}

.big-container {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.details-paragraph {
  max-width: 600px;
  text-align: center;
  margin: 4rem auto;
  color: var(--text-color);
  font-weight: 800;
}

.fa-angle-double-down {
  color: var(--primary-color);
  font-size: xx-large;
}

.fa-angle-double-down:hover {
  color: #d3e2dc;
}

.button-container {
  text-align: center;
  gap: 1rem;
}

.footer {
  display: flex;
  margin-top: 5rem;
  background-color: var(--secondary-color);
  padding: 3rem;
  justify-content: center;
}

.no-border {
  border: transparent;
}

.border-socials {
  background-color: var(--secondary-color);
  font-size: x-large;
}

.socials .primary-button {
  margin-right: 1rem;
}
