@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind:wght@300&family=Open+Sans:wght@300&family=Raleway:ital,wght@1,300&family=Roboto:wght@300&family=Source+Code+Pro:ital,wght@1,200&display=swap');
@import url(/components/avatar.css);
@import url(/components/alert.css);
@import url(/components/badges.css);

*{
    margin: 0;
    box-sizing: border-box;
}


/* *********************Colors*********************** */

:root {
    --primary-color: #9dcfbc;
    --secondary-color: #41B3A3;
    --text-color: #808680;
    --headings-color:rgb(80, 77, 77);
    --carbon-background-color:white;
  }

  /* ******************* Typography*************** */

.large-heading-text{
    font-size: 3rem;
    color: var(--headings-color);
    font-family: 'Open Sans', sans-serif;
}

.small-heading-text{
    font-size: 2rem;
    color: var(--headings-color);
    font-family: 'Open Sans', sans-serif;
}

.large-paragraph-text{
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: 'Hind', sans-serif;
}

.small-paragraph-text{
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Hind', sans-serif;
}


/**************************Spacing  *************************/

.spacing-xs{
   padding: 0.5rem; 
}

.spacing-s{
    padding: 0.5rem; 
 }
 .spacing-m{
    padding: 2rem; 
 }
 .spacing-l{
    padding: 0.5rem; 
 }
 .spacing-xl{
    padding: 0.5rem; 
 }


 .margin-1rem{
     margin: 1rem;
 }
/* *********************Border *************** */

.border-2px{
    border: 2px solid rgb(197, 194, 194);
}


/* ************************************ */

