@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,200&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
}

.megaContainer{
    width: 250px;
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: 1px 2px 1px 1px rgba(156, 112, 112, 0.1);
    overflow: scroll;
}

.component-child{
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    padding: .5rem;
    /* border-radius: 1rem; */
    align-items: center;
    padding-left: 1rem;
    /* margin-right: 2rem; */
    
}
  
.component-content{
    margin-left: 2rem;
}

.component-child:hover{
    background-color: #dddddd;
}
 



/* ***************************** For Permanent Drawer */


.permanent-drawer{
    display: flex;
    width: 80vw;
    height: 400px;

    
   
}

.groups{
    border-top: 1px solid black;
    /* justify-content: center; */
    margin-top: 1rem;
}

.side-container{
    width: 100%;
    overflow-y: auto;
    
}
.heading{
    padding: 1rem;
    background-color: blueviolet;
    position: sticky;
    top: 0;
}



.topContainer{
    padding: 1rem;
}

.paragraph{
    margin: 1rem;
}

.second-mega-container{
    background-color: white;
    padding-bottom: 1rem;
    box-shadow: 1px 2px 1px 1px rgba(156, 112, 112, 0.1);
    overflow-y: auto;
    /* flex:0 0 250px; */
    width: 250px;
    flex-shrink: 0;
}