.avatar-large{
    width: 8rem;
    height: 8rem;
}

.avatar-medium{
    width: 5rem;
    height: 5rem;
}

.avatar-small{
    width: 3rem;
    height: 3rem;
}

.border-radius-50percent{
border-radius: 50%;
}