.list-component {
  font-family: "Courier New", Courier, monospace;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.margin-0 {
  margin: 0;
}

.list-title {
  padding-bottom: 1rem;
}

.radio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
