.modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  font-family: sans-serif;
}

.modal-button-container {
  align-self: flex-end;
}

.cancel-button {
  background-color: var(--red);
  color: white;
  border: none;
  padding: 0.5rem;
}

.ok-button {
  background-color: var(--green);
  color: white;
  border: none;
  padding: 0.5rem;
}

.cancel-button:hover {
  color: var(--red);
  background-color: white;
}

.ok-button:hover {
  color: var(--green);
  background-color: white;
}
